services:
  api-server:
    image: fastapi-app:latest
    container_name: api_server
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
  
  frontend:
    image: react-app:latest
    container_name: client_server
    depends_on: 
      - api-server
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://<ec2-public-ip>:8000
      - PORT=3000